@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #208eef;
    --primary-color: #001E6C;    
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font-family);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;

}

h1 {
    font-size: 4em;
    color: white;
}

h2 {
    text-transform: uppercase;
    font-size: 4em;
    padding: 10px;
    color: white;
}

h3 {
    font-size: 2em;
    margin-top: 50px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 50px;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar {
    padding: 8px 15px;
    border: 0;
    background: #E8630A;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 3px 3px 10px #fcda00ba;
    color: white;
    font-weight: bolder;
    font-family: var(--font-family);
    cursor: pointer;
    
}
